{% extends "common_elements/base.html" %}

{% block title %}List of medicines{% endblock %}

{% block meddb_container %}

        {{ name }}
<div class="meddb_inner_page">
    <input id="meddb_medicine_search" type="text" placeholder="search"/>
    <table class="table table-bordered" id="meddb_medicine_list">
        <thead>
            <tr>
                <th>Formulation</th>
                <th>Strength</th>
                <th>Dosage Form</th>
                <th>Avg. Price (USD)</th>
                <th>MSH Price (USD)</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
            <tr>
                <td>{{ medicine.display_name|title }}</td>
                <td>{{ medicine.display_strength }}</td>
                <td>{{ medicine.dosageform }}</td>
                <td>Optimization required</td>
                <td>{{ medicine.msh }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

