{% extends "common_elements/base.html" %}

{% block title %}List of medicines{% endblock %}

{% block meddb_container %}
<div class="meddb_inner_page">
    <!-- <input id="meddb_medicine_search" type="text" placeholder="search"/> -->
    <table class="table table-bordered" id="meddb_medicine_list">
        <thead>
            <tr>
                <th>Formulation</th>
                <th>Strength</th>
                <th>Dosage Form</th>
                <th>Avg. Price (USD)</th>
                <th>MSH Price (USD)</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
            <tr data-link="/medicine/{{ medicine.id }}/" >
                <td>{{ medicine.display_name|title }}</td>
                <td>{{ medicine.display_strength }}</td>
                <td>{{ medicine.dosageform }}</td>
                <td>Optimization required</td>
                <td>{{ medicine.msh }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block extra_js %}
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    	var dataTable = $('#meddb_medicine_list').dataTable({
		"bPaginate": false,
		"bLengthChange": true,
		"bFilter": true,
		"bSort": false,
		"bInfo": false,
		"bAutoWidth": false });

		$("#meddb_medicine_list tbody tr").click(function() {
            window.location = $(this).attr("data-link")
		});
});

</script>
{% endblock %}

