.row {
    margin-bottom: 10px;
}

.nav-tabs > .active > a {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > .active > a:hover {
    color: #555555;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

div#meddb_inner_container {
    position: relative;
}

div#meddb_inner_container > img#meddb_loading {
    position: absolute;
    top: 40px;
    left: 400px;
    z-index: -1;
    opacity: 0;
}

input#meddb_medicine_search {
    width: 930px;
}

div#meddb_inner_container > div.meddb_inner_page {
    position: absolute;
    width: 100%;
}

table#meddb_supplier_details th:first-child {
    width: 200px;
}

div#meddb_medicine_prices {
    margin-bottom: 100px;
}

.multi-element {
    background-color: #cdcdcd;
    padding: 1px 5px;
    font-size: 12px;
    margin: 5px
}

#banner h1 {
    line-height: 60px;
}

#banner img {
    height: 60px;
    vertical-align: bottom;
    float: left;
    margin-right:10px;
}

#help {
    border: 3px solid #888;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #CED7DC;
    display: none;
}

#help img {
    height:100px;
}

#footer {
    color: #888;
    margin-top: 30px;
}

/* Bar graph on Medicine page */
.chart {
    position: relative;
    padding-top: 30px;
    border:thin solid black inline;
}
.barsWrap {
}
.barsWrap .item {
    margin-bottom: 3px;
}
.barsWrap .item  .title {
    text-align: right;
}

.individualBarWrap {
    background: #dfe7e5;
    height: 28px;
}
.barsWrap span {
    padding: 4px 4px;
    color: white;
    display: inline-block;
    height: 100%;
}

.medianTitleWrap {
    position: absolute;
    top: 5px;
    left: 0px;
    height:30px;
}
.medianTitleWrap * {
    color: #d71920;
    vertical-align: bottom;
    text-align: left;
}
.medianTitleWrap .medianTitle {
    display: inline-block;
    text-align: right;
}
.medianWrap {
    position: absolute;
    left: 0px;
    top: 30px;
}
.medianLine {
    border-right: dotted 3px #d71920;
}
